body {
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
  color: #fff;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
